.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*image sous nav*/
div .image1{
  margin: 2em !important;
}
/*paragraphes*/
div .flex{
  display: flex;
  justify-content: space-around !important;
  color: #747474 !important;
  font-family: 'Work Sans', sans-serif !important;
  font-weight: bold;
  text-align: justify !important;
  line-height: 1.5;
  box-sizing: inherit;
  margin: 4rem;
  font-size: 18px;
}
p{
  display: block !important;
  margin-inline-start: 20px;
  margin-inline-end: 10px;
}
/*cartes*/
.cartes{
  background-color: #00ccb1;
  height: 345px;
  border-radius: 5%;
  color: white;
  font-size: 1.3rem;
}
.titr{
  font-size: 1.7rem;
}
.link{
  margin-top: 60px !important;
  color: white;
  float: left;
  margin-left: 20px;
}