@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif;
}

code {
  font-family: 'Work Sans', sans-serif;
}
/*nav bar*/
Nav .color{
  color: #00b39b !important;
}
/*titres*/
h1 {
  font-size: 1.9rem !important;
  color: #00b39b;
  margin: 2rem !important;
  letter-spacing: 3px;
  font-family: 'Work Sans', sans-serif;
}
/*paragraphes*/
p .para{
  color: gold !important;
  font-family: 'Work Sans', sans-serif !important;
}